name: check-linter.yml
run-name: ${{ github.actor }} is making linter checks

on:
  pull_request:
    branches:
       - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Install project
        run: uv sync --group dev

      - name: Run ruff (lint)
        id: check
        run: uv run ruff check --fix .
