name: deploy.yml

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and tag image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/python-kata-wompwomp:latest .

      - name: Push image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/python-kata-wompwomp:latest

      - name: Deploy to Render
        env:
          RENDER_WEBHOOK: ${{ secrets.DEPLOY_WEBHOOK_URL }}
          IMAGE_URL: docker.io/${{ secrets.DOCKERHUB_USERNAME }}/python-kata-wompwomp:latest
        run: |
          curl "${DEPLOY_WEBHOOK_URL}&imgURL=docker.io%2Fwhatisthisboat%2Fpython-kata-wompwomp%3Alatest"