name: run-unit-tests.yml

on:
  pull_request:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          python-version: "3.x"

      - name: Sync dependencies
        run: uv sync --group dev

      - name: Run tests
        run: uv run pytest

